<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>TRIZ-Quiz Projector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script defer src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<div id="step" hx-get="/current" hx-trigger="load" hx-swap="outerHTML">
    <div id="title">Ожидание начала…</div>
    <div id="content"></div>
</div>
<div id="timer"></div>
<div id="answerStats"></div>
<div id="lastAnswer"></div>
<div id="participants"></div>
<button id="startBtn" hx-post="/start" hx-target="#step" hx-swap="outerHTML">Начать</button>
<button id="nextBtn" hx-post="/next" hx-target="#step" hx-swap="outerHTML">Далее</button>
<button id="resetBtn">Сбросить базу</button>
<div id="results"></div>
</body>
</html>
