{% extends 'base.jinja2' %}

{% block content %}
    {% if phase == 0 %}
        <div class="quiz-center">
            <h1>{{ step.title }}</h1>
            {% if step.text %}
                <div class="quiz-layout">
                    <div class="quiz-col">
                        <div class="quiz-description">{{ step.text }}</div>
                    </div>
                    <div class="quiz-col">
                        <ol class="quiz-options">
                            {% for opt in options %}
                                <li>{{ opt.text }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            {% else %}
                <div class="quiz-col">
                    <ol class="quiz-options quiz-options-alone">
                        {% for opt in options %}
                            <li>{{ opt.text }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="mcq-container">
            <canvas id="mcqChart"></canvas>
        </div>
        <script>
            window.__mcq = {
                labels: [{% for opt in options %}'{{ loop.index }}. {{ opt.text|replace("'", "\\'") }}'{% if not loop.last %}, {% endif %}{% endfor %}],
                counts: [{% for c in counts %}{{ c }}{% if not loop.last %}, {% endif %}{% endfor %}],
                percents: [{% for p in percents %}{{ p }}{% if not loop.last %}, {% endif %}{% endfor %}],
                correct: [{% for c in correct %}{{ c }}{% if not loop.last %}, {% endif %}{% endfor %}],
                avatars: [
                        {% for arr in avatars_map %}[{% for id in arr %}'{{ id }}'{% if not loop.last %}, {% endif %}{% endfor %}]{% if not loop.last %}, {% endif %}{% endfor %}
                ],
                names: {
                    {% for id, name in names_map.items() %}'{{ id }}': '{{ name|replace("'", "\\'") }}'{% if not loop.last %}, {% endif %}{% endfor %}
                }
            };
            document.addEventListener('DOMContentLoaded', () => window.renderMulti());
        </script>
    {% endif %}
{% endblock %}
