{% extends 'base.jinja2' %}

{% block content %}
  <div class="grid" style="--count: {{ users|length }};">
    {% for u in users %}
    <div class="card">
      <img class="avatar" src="/avatars/{{ u.id }}.jpg" title="{{ u.name }}" />
      <div class="name">{{ u.name }}</div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
